﻿<ion-navbar *navbar>
  <ion-title>어부바 - 자녀등록</ion-title>
</ion-navbar>
<ion-content padding >
<form (ngSubmit)="addChild()" #addChildForm="ngForm"  >
	<ion-list>
		<ion-item>
			<div style="width:100%" >
				<img src="build/{{newChild.photo}}" class="profile-photo"  />
			</div>
		</ion-item>
		<ion-item>
			<ion-label fixed >이름</ion-label>
			<ion-input type="text" [(ngModel)]="newChild.name" required ngControl="name" #name="ngForm" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed >생년월일</ion-label>
			<ion-input type="date"  [(ngModel)]="newChild.birth"  required ngControl="birth" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>성별</ion-label>
			<ion-select [(ngModel)]="newChild.gender" multiple="false" cancelText="취소" okText="선택" required ngControl="gender" >
				<ion-option value="M" checked="true">남</ion-option>
				<ion-option value="F">여</ion-option>
			</ion-select>
		</ion-item>
		<ion-item (click)="searchPreschool()" >
			<ion-label fixed >유치원</ion-label>
			<ion-input type="text" placeholder="유치원검색" [(ngModel)]="newChild.preschool_name" readonly  required ngControl="preschool" ></ion-input>
		</ion-item>
		<ion-item *ngIf="newChild.preschool_name" >
			<ion-label>반선택</ion-label>
			<ion-select [(ngModel)]="newChild.class_id" multiple="false" cancelText="취소" okText="선택"  required  ngControl="class" >
				<ion-option *ngFor="#c of classList" value="{{c.id}}" >{{c.name}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<button primary block type="submit" [disabled]="!addChildForm.form.valid"  >등록하기</button>
</form>
</ion-content>
