﻿<ion-navbar *navbar>
	<ion-title> 어부바 - 회원가입</ion-title>
</ion-navbar>
<ion-content padding >
	<form (ngSubmit)="goSignUp()" #signUpForm="ngForm" >
		<ion-item>
			<ion-label floating >아이디</ion-label>
			<ion-input type="text" [(ngModel)]="newUser.user_id" ngControl="user_id" (keyup)="errMsg.user_id=''" required ></ion-input>
		</ion-item>
		<div class="txt-warn" *ngIf="errMsg.user_id" >{{errMsg.user_id}}</div>
		<ion-item>
			<ion-label floating >비밀번호</ion-label>
			<ion-input type="password" [(ngModel)]="newUser.password" ngControl="password" (keyup)="errMsg.password=''" required ></ion-input>
		</ion-item>
		<div class="txt-warn" *ngIf="errMsg.password" >{{errMsg.password}}</div>
		<ion-item>
			<ion-label floating>비밀번호 재입력</ion-label>
			<ion-input type="password"  [(ngModel)]="password_c" ngControl="password_c" (keyup)="errMsg.password_c=''" required ></ion-input>
		</ion-item>
		<div class="txt-warn" *ngIf="errMsg.password_c" >{{errMsg.password_c}}</div>
		<ion-item>
			<ion-label floating >이름</ion-label>
			<ion-input type="text" [(ngModel)]="newUser.name" ngControl="name" (keyup)="errMsg.name=''" required ></ion-input>
		</ion-item>
		<div class="txt-warn" *ngIf="errMsg.name" >{{errMsg.name}}</div>
		<ion-item>
			<ion-label floating >이메일</ion-label>
			<ion-input type="email" [(ngModel)]="newUser.email" ngControl="email" (keyup)="errMsg.email=''" required ></ion-input>
		</ion-item>
		<div class="txt-warn" *ngIf="errMsg.email" >{{errMsg.email}}</div>
		<ion-item>
			<ion-label floating >전화번호</ion-label>
			<ion-input type="tel" [(ngModel)]="newUser.phone" ngControl="phone"  (keyup)="errMsg.phone=''" required ></ion-input>
		</ion-item>
		<div class="txt-warn" *ngIf="errMsg.phone" >{{errMsg.phone}}</div>
		<ion-row>
			<ion-col>
				<button primary block type="submit" [disabled]="!signUpForm.form.valid"  >가입하기</button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>
