﻿<ion-navbar *navbar>
  <ion-title>어부바 - 시작하기</ion-title>
</ion-navbar>


<ion-content padding >
	<div class="center txt-title" text-center >
		{{user.name}} 님!<br/>
		회원님은 어떤 서비스를 이용하시겠습니까?
	</div>
	<br/>
	<div class="center txt-subhead" text-center>
		아래 서비스중 이용할 하나를 선택해주세요.
	</div>
	<br/>
	<br/>
	<ion-row center>
		<ion-col width-50 >
			<button primary block (click)="setRole(1)" >부모</button>
		</ion-col>
		<ion-col width-50 >
			<button primary block (click)="setRole(2)" >교사</button>
		</ion-col>
	</ion-row>
	<ion-row center>
		<ion-col width-50 >
			<button primary block  disabled >운전기사</button>
		</ion-col>
		<ion-col width-50 >
			<button primary block  disabled >원장</button>
		</ion-col>
	</ion-row>
	 
</ion-content>
