﻿<ion-navbar *navbar>
  <ion-title>어부바</ion-title>
</ion-navbar>

<ion-content padding >
	<ion-spinner *ngIf="showSpinner" ></ion-spinner>
	<ion-row *ngIf="childList != undefined && childList.length == 0" >
		<ion-col text-center>
			<h3>자녀를 등록하세요.</h3>
			<p>자녀의 위치와 유치원 생활을 확인하세요.</p>
			
		</ion-col>
	</ion-row>
	<ion-list>
		<ion-card *ngFor="#c of childList" >			
			<ion-card-title>
				<img src="build/{{c.photo}}" width="120px" height="120px" class="profile-photo" />
			</ion-card-title>
			<ion-card-content>
				<h1 text-center >{{c.name}}</h1>
				<div class="txt-subhead" text-center >{{c.preschool_name}}</div>
				<div class="txt-subhead" text-center *ngIf="c.approve_state==0" >(승인 대기중)</div>
			</ion-card-content>
		</ion-card>			
	</ion-list>



	<button primary clear block (click)="addChild()" >
		<ion-icon name="add" ></ion-icon> 자녀 등록
	</button>

</ion-content>
