﻿<ion-navbar *navbar>
  <ion-title>어부바</ion-title>
</ion-navbar>
<ion-content >
	<ion-searchbar [(ngModel)]="keyword" placeholder="원생 이름 검색" ></ion-searchbar>
	<ion-list>
		<ion-list-header>승인대기 원생</ion-list-header>
		<button ion-item detail-none *ngFor="#s of notApprovedList | search:'name':keyword" (click)="showApprovePopup(s)" >
			<ion-avatar item-left>
				<img src="build/{{s.photo}}">
			</ion-avatar>
			<h2>{{s.name}}</h2>
			<p>{{s.class_name}}</p>
		</button>
	</ion-list>
	<ion-list>
		<ion-list-header>유치원생</ion-list-header>
		<button ion-item detail-none *ngFor="#s of approvedList | search:'name':keyword"  (click)="goStudent(s)" >
			<ion-avatar item-left>
				<img src="build/{{s.photo}}">
			</ion-avatar>
			<h2>{{s.name}}</h2>
			<p>{{s.class_name}}</p>
		</button>
	</ion-list>

</ion-content>
