﻿<ion-navbar *navbar>
	<button menuToggle>
		<ion-icon name="menu" ></ion-icon>
	</button>
	<ion-title>어부바</ion-title>
</ion-navbar>
<ion-content >
	<div>
		<img src="build/{{preschool.photo}}" width="100%" />
	</div>
	<ion-row>
		<ion-col text-center>
			<h3>{{preschool.name}}</h3>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			간단한 공지사항[2016.03.02]
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center >
			<button clear danger>원생</button>
		</ion-col>
		<ion-col text-center >
			<button clear danger (click)="teacher()" >선생님</button>
		</ion-col>
		<ion-col text-center >
			<button clear danger (click)="driver()" >기사님</button>
		</ion-col>
	</ion-row>
</ion-content>
