.txt-warn{
	color:map-get($colors,danger);
}
.txt-title{
	font-size:18px;
	line-height:160%;
}
.txt-subhead{
	font-size:15px;
	color:map-get($colors, grey);
}

.center {
	margin:auto;
}

.profile-photo{
	width:120px;
	height:120px;
	margin:auto;
	display:block;
	border:1px solid map-get($colors, grey);

	border-radius:50%;
}
.p-preschool-card{
        background-position:center center;
        background-repeat :no-repeat;
        background-size:cover;
        -webkit-background-size:cover;
        height:120px;
        padding:0;
        position:relative;
}

.thumbnail-small{
	border-radius:50%;
	width:54px;
	height:54px;
	border:2px solid white;
	display:inline-block;
	margin-right:10px;
	float:right;
	       
}
.thumbnail-small img{
	border-radius:50%;
	width:100%;
	height:100%;
}
ion-spinner{
	display:block;
	margin:auto;
}
button[fab]{
	position:fixed;
	z-index:99;

}

