﻿<ion-navbar *navbar>
	<ion-title>어부바 - 유치원 검색</ion-title>
	<ion-buttons end>
		<button (click)="close()" >
			<ion-icon name="close" ></ion-icon>
		</button>
	</ion-buttons>
</ion-navbar>
<ion-searchbar [(ngModel)]="keyword" (search)="search()" placeholder="유치원 이름" > </ion-searchbar>
<ion-content >
	<ion-list>
		<button ion-item detail-none  *ngFor="#p of preschoolList" (click)="selPreschool(p)" >
			<div class="txt-title" >{{p.preschool_name}}</div>
			<div class="txt-subhead" >{{p.director_name}}</div>
		</button>
	</ion-list>
</ion-content>
