<ion-navbar *navbar>
  <ion-title>어부바</ion-title>
</ion-navbar>
<ion-content padding >
	<ion-spinner *ngIf="showSpinner" ></ion-spinner>
	<ion-row *ngIf="preschoolList != undefined && preschoolList.length == 0" >
		<ion-col text-center>
			<h3>자녀를 먼저 등록하세요.</h3>
			<p>등록된 자녀의 유치원 생활을 확인하세요.</p>
		</ion-col>
	</ion-row>
	<ion-list>
		<ion-card *ngFor="#p of preschoolList"  >			
		<!--
			<div class="item p-preschool-card" style="background-image:url('build/{{p.preschool_photo}}')" >
				<div class="dim" ></div>

			</div>
			-->
			<img src="build/{{p.preschool_photo}}" />

			<ion-card-content>
				
				<div style="position:relative;" >
					<div style="position:absolute;width:100%; top:-40px;" >
						<div *ngFor="#c of p.childList" class="thumbnail-small" >
							<img src="build/{{c.child_photo}}" />
						</div>
					</div>
				</div>
				<h2 >{{p.preschool_name}}</h2>
				<p>
					간단한 공지사항 [2016.03.22]
				</p>
				<ion-row>
					<ion-col>
						<button clear danger small >
							<ion-icon name="pin"></ion-icon> 버스위치
						</button>
					</ion-col>
					<ion-col text-center>
						<button clear danger small >
							<ion-icon name="megaphone"></ion-icon> 공지사항
						</button>
					</ion-col>
					<ion-col text-right>
						<button clear danger small (click)="showMore(p)" >
							<ion-icon name="more"></ion-icon>더보기
						</button>
					</ion-col>
					
				</ion-row>
			</ion-card-content>
		</ion-card>			
	</ion-list>
</ion-content>
