﻿<ion-navbar *navbar>
  <ion-title>어부바</ion-title>
</ion-navbar>
<ion-content >
	<ion-searchbar [(ngModel)]="keyword" placeholder="선생님 이름 검색" ></ion-searchbar>
	<ion-list>
		<ion-list-header>승인대기 선생님</ion-list-header>
		<button ion-item *ngFor="#item of notApprovedList | search:'name':keyword" >
			<h2>{{item.name}}</h2>
			<p>{{item.class_name}}</p>
		</button>
	</ion-list>
	<ion-list>
		<ion-list-header>선생님 목록</ion-list-header>
		<button ion-item *ngFor="#item of approvedList | search:'name':keyword" >
			<h2>{{item.name}}</h2>
			<p>{{item.class_name}}</p>
		</button>
	</ion-list>

</ion-content>
