﻿<ion-menu [content]="content">

	<ion-toolbar>
		<ion-title>hello</ion-title>
	</ion-toolbar>

	<ion-content>
		<ion-list>
			<button menuClose ion-item >닫기</button>
		</ion-list>
	</ion-content>

</ion-menu>
<ion-nav id="mainNav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
