﻿<ion-menu [content]="content">

	<ion-toolbar>
		<ion-title>hello</ion-title>
	</ion-toolbar>

	<ion-content>
		<ion-list>
			<button menuClose ion-item (click)="student()">학생들</button>
			<button menuClose ion-item (click)="preschool()"  >유치원</button>
			<button menuClose ion-item (click)="logout()" >로그아웃</button>
		</ion-list>
	</ion-content>

</ion-menu>
<ion-nav id="mainNav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<!--
<ion-navbar *navbar>
	<button menuToggle>
		<ion-icon name="menu" ></ion-icon>
	</button>
	<ion-title>어부바</ion-title>
</ion-navbar>
<ion-content padding >
hello
</ion-content>
-->
