﻿<ion-navbar *navbar>
	<button menuToggle>
		<ion-icon name="menu" ></ion-icon>
	</button>
	<ion-title>어부바</ion-title>
</ion-navbar>
<ion-content >
	<ion-row>
		<ion-col text-center>
			<h3>선생</h3>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			간단한 공지사항[2016.03.02]
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			최근 소식들..<br/>
			아이 투약 요청 <br/>
			귀가 동의서
		</ion-col>
	</ion-row>


</ion-content>
<button fab fab-bottom fab-right danger (click)="showMenu()" >
	<ion-icon name="add" ></ion-icon>
</button>
