﻿<!--
<ion-navbar *navbar>
  <ion-title>
    Home
  </ion-title>
</ion-navbar>
-->

<ion-content padding >
	<ion-item>
		<ion-label floating>Username</ion-label>
		<ion-input type="text" [(ngModel)]="loginInfo.user_id" ></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating>Password</ion-label>
		<ion-input type="password"  [(ngModel)]="loginInfo.password" ></ion-input>
	</ion-item>
	<br/>
	<div *ngIf="loginError" class="txt-warn" text-center >{{loginError}}</div>
	<br/>
	<button block large (click)="login()" [disabled]="nowLogining" >
		<ion-spinner *ngIf="nowLogining" ></ion-spinner>
		<span  *ngIf="!nowLogining" >로그인</span>
	</button>
	<br/>
	<br/>
	<ion-row>
		<ion-col width-50 >
			<a href="javascript:void(0);" >로그인 정보 찾기</a>
		</ion-col>
		<ion-col width-50 text-right >
			<a href="javascript:void(0);" (click)="goTerms()" >아직 회원이 아니신가요?</a>
		</ion-col>
	</ion-row>
</ion-content>
